
/******************************** start-banar***************************************************/
.banar{
    height: 500px;
}
/******************************** end-banar***************************************************/

/******************************** start-cards ***************************************************/
.cards .container div{
    margin-top: 50px;
}
/******************************** end-cards ***************************************************/

/******************************** start-awesome***************************************************/
.awesome {
    margin-top: 120px;
    margin-bottom: 50px;
}
/******************************** start-responsive ***************************************************/
@media ( max-width:768px) {
    .cards .pro{
    margin-left: 70px;
    }
}
@media ( max-width:480px) {
    .cards .pro{
        margin-left: 40px;
        }
  }
/******************************** end-responsive ***************************************************/



